$color-pink: #F0EAF8;
$color-dark-pink: #FEECEC;
$color-dark-blue: #000853;
$color-background: #F0EAF8;
$color-light-purple: #CBB6E5;
$color-purple: #761BE4;
$color-dark-purple: #6A19CD;
$color-red: #ED4545;
$color-grey: #898DA9;